<div class="container" id="page-container">
    <div class="jumbotron text-white" id="top-jumbotron">
    <div class="container">
        <h1 class="display-4">National Remark</h1>
        <p class="lead">A place to read, save, and comment on articles</p>
        <div class="text-center">
            <br>
            <hr class="my-4">
            <p>Discover articles below!</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Articles</a>
        </div>
    </div>
    </div>
    <div id="articles">
        {{#each article}}
        {{/each}}
    </div>


</div>
